[user]
        name = Alex Barnsley
        email = 8069294+alexbarnsley@users.noreply.github.com
[core]
        autocrlf = false
        editor = vim
[push]
        default = upstream
[color]
        ui = True
[alias]
        ri = rebase --interactive --autosquash
        st = status
        sts = status -s
        ci = commit
        co = checkout
        ls = ls-files
        df = diff
        c = commit
        ap = add -p
        aw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
        pr = !sh -c 'git stash && git checkout master && git branch -D pr-$1 || true && git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1' -
	masterjs = !sh -c 'git stash && git co master && npm install && npm start' -
	prjs = !sh -c 'git pr $1 && npm install' -
	prjsstart = !sh -c 'git pr $1 && npm install && npm start' -
	masterionic = !sh -c 'git stash && git co master && git pull && npm install && git ionic-run-android-live' -
	#masterionic-autoip = !sh -c 'git stash && git co master && git pull && npm install && git ionic-run-android-live-autoip' -
	prionic = !sh -c 'git pr $1 && npm install && git ionic-run-android' -
	prionic-live = !sh -c 'git pr $1 && npm install && git ionic-run-android-live' -
        ionic-run-android = !sh -c 'yarn install && ionic cordova run android --minifycss --optimizejs --aot' -
        ionic-run-android-live = !sh -c 'yarn install && ionic cordova run android --minifycss --optimizejs --aot --livereload' -
        #ip = !sh -c 'IP=`ifconfig en0 | fgrep \"inet \" | egrep -o \"([0-9]+\.){3}[0-9]+\" | egrep -v \"255\$\"` && echo $IP' -
        #ionic-run-android-live-autoip = !sh -c 'IP=`ifconfig en0 | fgrep "inet " | awk '{print $2}'` && yarn install && ionic cordova run android --minifycss --optimizejs --aot --livereload --address=$IP' -

        diff-stash = stash show -p stash@{0}
        diff-staged = diff --cached
        diff-prev = diff HEAD^
        pull-theirs = !git fetch && git reset --hard HEAD
        commit-empty = commit --allow-empty
        ec = config --global --edit

        nuke = reset --hard HEAD
