[user]
        name = Alex Barnsley
        email = 8069294+alexbarnsley@users.noreply.github.com
[core]
        autocrlf = false
        editor = vim
[push]
        default = upstream
[color]
        ui = True
[alias]
        r = reset
        ri = rebase --interactive --autosquash
        st = status
        sts = stash
        stsp = stash -p
        ci = commit
        co = "!sh -c 'git fetch --all && OUTPUT=$(git checkout $1) && echo \"$OUTPUT\" && BEHIND=$(echo $OUTPUT | fgrep \"branch is behind\" -c); if [ \"$BEHIND\" == \"1\" ]; then read -p \"Pull? [Y/n]: \" PULL; if [ \"$PULL\" != \"n\" ]; then git pull; fi; fi'" -
        cob = checkout -b
        cop = !sh -c 'git checkout $1 && git pull'
        cod = !sh -c 'git checkout develop && git pull'
        com = !sh -c 'git checkout master && git pull'
        cos = !sh -c 'git checkout staging && git pull'
        cor = !sh -c 'git co $1 && yarn && yarn dev' -
        ls = ls-files
        df = diff
        c = commit
        cnv = commit --no-verify
        cm = commit -m
        cmnv = commit --no-verify -m
        bl = branch -v
        ap = add -p
        ps = push
        fa = fetch --all
        pl = pull
        aw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero' -
        pr = !sh -c 'git stash && git checkout master && git branch -D pr-$1 || true && git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1' -
        prr = !sh -c 'git pr $1 && yarn && yarn dev' -
        masterjs = !sh -c 'git stash && git co master && npm install' -
        masterjsstart = !sh -c 'git stash && git co master && npm install && npm start' -
        prjs = !sh -c 'git pr $1 && npm install' -
        prjsstart = !sh -c 'git pr $1 && npm install && npm start' -
        masterionic = !sh -c 'git stash && git co master && git pull && npm install && git ionic-run-android-live' -
        prionic = !sh -c 'git pr $1 && npm install && git ionic-run-android' -
        prionic-live = !sh -c 'git pr $1 && npm install && git ionic-run-android-live' -
        ionic-run-android = !sh -c 'npm install && ionic cordova run android --minifycss --optimizejs --aot' -
        ionic-run-android-live = !sh -c 'npm install && ionic cordova run android --minifycss --optimizejs --aot --livereload' -
        lb = !sh -c 'lerna bootstrap'

        diff-stash = stash show -p stash@{0}
        diff-staged = diff --cached
        diff-prev = diff HEAD^
        pull-theirs = !git fetch && git reset --hard HEAD
        commit-empty = commit --allow-empty
        initial-commit = commit -m 'chore: initial commit (empty)' --allow-empty
        init = !sh -c 'git init && git initial-commit' -
        ec = config --global --edit

        refresh-upstream = !sh -c 'git co master && git fetch upstream && git rebase upstream/master'
        nuke = reset --hard HEAD
